<div class="bottom-grid">
    <div class="logo">
        <h1> <a href="index.html"><span class="fa fa-key"></span> Key</a></h1>
    </div>
    <div class="links">
        <ul class="links-unordered-list">
            <li class="active">
                <a [routerLink]="['/user/signin']" class="">Login</a>
            </li>
            <li class="">
                <a [routerLink]="['/user/profile']" routerLinkActive="router-link-active"  class="">profile</a>
            </li>
            <li class="">
                <a [routerLink]="['/user/signup']" class="">Register</a>
            </li>
            <li class="">
                <a [routerLink]="['/user/contact']" routerLinkActive="router-link-active"  class="">Contact</a>
            </li>
        </ul>
    </div>
</div>